.header {
    background: navy;
    height: 150px;
    border-bottom: solid;
    border-color: red;
    border-width: 10px;
}

.header h1 {
    margin: 20px;
    text-align: center;
    font-size: 3rem;
}

p {
    color: white;
    text-align: center;
}